/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/yard
/pkg/
/spec/reports/
/tmp/
/examples/*.out.rb

# TODO: should be defined another way, since personal folders
/spike/
/lib/scratch
/spec/scratch
/doc/readme-drafts
/doc/methods
/doc
